.git
.gitignore
.gitattributes

node_modules
**/node_modules

dist
**/dist

build
**/build

.next
**/.next

coverage
**/coverage

playwright-report
test-results

.env
.env.*

!.env.example

*.log

.docker-data